.env
project_source.zip
*.zip
*.env
.env.local
.env.*.local
.env.*.secret
.env.production
.env.development

node_modules
dist
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
